@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 300;
    src: url('GothamLight.woff') format('woff');
}

@font-face {
    font-family: 'Gotham';
    font-style: italic;
    font-weight: 300;
    src: url('GothamLightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    src: url('GothamBook.woff') format('woff');
}

@font-face {
    font-family: 'Gotham';
    font-style: italic;
    font-weight: 400;
    src: url('GothamBookItalic.woff') format('woff');
}

@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    src: url('GothamMedium.woff') format('woff');
}

@font-face {
    font-family: 'Gotham';
    font-style: italic;
    font-weight: 500;
    src: url('GothamMediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    src: url('GothamBold.woff') format('woff');
}

@font-face {
    font-family: 'Gotham';
    font-style: italic;
    font-weight: 700;
    src: url('GothamBoldItalic.woff') format('woff');
}
