#render {
  display: grid;
  grid-row-gap: 21px;
  grid-template-areas:
    "message    message     message     message     message"
    "blu-logo   blu-score   score-sep   red-score   red-logo"
    "blu-name   blu-name    .           red-name    red-name"
    "stats      stats       stats       stats       stats"
    "legend     legend      legend      legend      legend";
  grid-template-columns: 2fr 1fr 0fr 1fr 2fr;
  grid-template-rows: 2fr 320px 1fr 666px 27px;
  place-items: center center;
}

#blu-logo {
  grid-area: blu-logo;
}

#blu-name {
  grid-area: blu-name;
}

#blu-score {
  grid-area: blu-score;
}

#legend {
  grid-area: legend;
}

#message {
  grid-area: message;
}

#red-logo {
  grid-area: red-logo;
}

#red-name {
  grid-area: red-name;
}

#red-score {
  grid-area: red-score;
}

#score-sep {
  grid-area: score-sep;
}

#stats {
  grid-area: stats;
}

tr td {
    border-left: solid 1px white;
}

tr:nth-child(-n + 7) td:first-child {
  border-left: solid 4px #00aef0;
}

tr:nth-child(-n + 7) td:last-child {
  border-right: solid 4px #00aef0;
}

tr:nth-child(n + 8) td:first-child {
  border-left: solid 4px #484848;
}

tr:nth-child(n + 8) td:last-child {
  border-right: solid 4px #484848;
}

.class-scout {
  background-image: url("icon-scout.png");
}

.class-soldier {
  background-image: url("icon-soldier.png");
}

.class-demoman {
  background-image: url("icon-demoman.png");
}

.class-medic {
  background-image: url("icon-medic.png");
}
